* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.btnSoc {
    position: relative;
    height: 70px;
    width: 70px;
    margin: 20px;
    background: rgb(214, 214, 214);
    border-radius: 50%;
    box-shadow: -7px -6px 20px 0 rgba(255, 255, 255, 0.9),
                7px 7px 20px 0 rgba(0,0,0,0.3);
    transition: 0.2s;
  }
  
  .btnSoc:hover {
    transform: scale(1.1);
  }
  
  .btnSoc::before {
    content: "";
    position: absolute;
    height: 80%;
    width: 80%;
    background: rgb(214, 214, 214);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btnSoc:hover::before {
    box-shadow: inset -7px -6px 20px 0 rgba(255, 255, 255, 0.9),
                inset 7px 7px 20px 0 rgba(0,0,0,0.3);;
  }