body {
  background: #D2E4FC
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  background: #FFFFFF;
  padding: 10px;
}

input::placeholder {
  color: #DDDDDD;
}
